<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="nimble.dotterel">

	<uses-feature android:name="android.hardware.usb.host" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

	<application
		android:name=".DotterelApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="nimble.dotterel"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_provider_paths" />
		</provider>

		<service
			android:name=".Dotterel"
			android:label="@string/app_name"
			android:permission="android.permission.BIND_INPUT_METHOD">
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
			</intent-filter>
			<meta-data android:name=
				"android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/usb_device_filter" />
			<meta-data android:name=
				"android.hardware.usb.action.USB_DEVICE_DETACHED"
				android:resource="@xml/usb_device_filter" />
		</service>

		<activity
			android:name=".DotterelSettings"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustResize|stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".DictionaryAssetBrowser"
			android:label="@string/app_name" />

		<activity
			android:name=".UsbEventReceiverActivity"
			android:label="Dotterel"
			android:theme="@style/Theme.Transparent"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:taskAffinity="nimble.dotterel.UsbEventReceiver"
			android:process=":UsbEventReceiverActivityProcess"
			android:exported="false">
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<meta-data
				android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/usb_device_filter" />
		</activity>

	</application>

</manifest>
