<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="nimble.dotterel">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name=".DotterelApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="nimble.dotterel"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_provider_paths"/>
		</provider>

		<service
			android:name=".Dotterel"
			android:label="@string/app_name"
			android:permission="android.permission.BIND_INPUT_METHOD">
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
		</service>

		<activity
			android:name=".DotterelSettings"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>
